[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "AHM"]
	path = AHM
	url = https://github.com/cran/AHM
	shallow = true
	registered = true
